[Desktop Entry]

Terminal=false
Icon=/usr/share/applications/cnchi.png
Type=Application
Exec=sh /usr/bin/install-antergos.sh
Name=Reborn OS Installer
GenericName=Reborn oS Installer
Comment=Reborn Graphical Installer.
